version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 99
    labels:
      - "dependencies"
      - "github-actions"
  - package-ecosystem: "julia" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
    interval: "weekly"